<%-include('partials/header1')-%>
<div class="details">
  <div class="row">
  <div class="col-lg-6">
    <div class="info">
      <h1 style="padding-bottom: 10px;">USER DETAILS</h1>      
          <ul type="none">
          <% udetails.forEach(function(user){ %>
         <li>
          <h3>Name: <%=user.name%></h4>
        </li>
        <li>
          <h3>Email: <%=user.email%></h4>
        </li>
        <li>
          <h3>username: <%=user.username%></h4>
        </li>
    
      <form action="/dashboard" method="post">
        <div>
          <button type="submit" class="btn btn-primary ex3" value="<%=user.username%>">COMPOSE NEW BLOG</button>
        </div> 
        </form>   
      <%})%>
      </ul>
    </div>  
  </div>
  </div>  
</div>
